{% extends 'base.html' %}
{% block title %} Latin {% endblock %}

{% block content %}
	<script>

		posToFull = {
			"N": "noun",
			"V": "verb",
			"ADJ": "adjective",
			"PREP": "preposition"
		}

		let parser = new DOMParser();

		function searchLatin() {
			search("latin", "keyword");
		}

		function searchEnglish() {
			search("english", "english");
		}

		function search(lang, key) {
			let word = document.getElementById(lang).value;
			word = word.trim();

			let words = [];
			if (word.includes(" ")) {
				words = word.split(" ");
			} else {
				words = [word];
			}

			words.reverse();

			let contentContainer = document.getElementById("contentContainer");
			contentContainer.prepend();

			words.forEach(function (w) {
				const response = fetch("/", {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify([lang, w])
				}).then(data => {
					if (data.ok) {
						let text = document.createElement("div")
						text.classList.add("content")

						let title = document.createElement('p');
						title.classList.add("content-title")

						let title_word = document.createElement('strong');
						let word = data.headers.get("word")
						title_word.textContent = word
						title.appendChild(title_word)

						title.appendChild(document.createTextNode(' '));

						let parts = data.headers.get("parts").split(",")
						parts.forEach(prt => {
							let posLink = document.createElement("a")
							let pos = prt.slice(0, -2)
							let valid = Boolean(parseInt(prt.slice(-1)))
							posLink.innerText = pos
							posLink.href = `https://latindictionary.wikidot.com/${posToFull[pos]}:${word}`
							if (valid)
								posLink.classList.add("link-primary")
							else
								posLink.classList.add("link-danger")
							title.appendChild(posLink)
							title.appendChild(document.createTextNode(' '));
						})

						text.appendChild(title)

						let translation = data.headers.get("translation")
						translation = unEscape(translation)
						translation = translation.slice(5)
						text.appendChild(parser.parseFromString(translation, "text/html").body);

						contentContainer.prepend(text)
					} else {
						console.log(data);
					}
				}).catch(error => {
					console.log(error);
				});

			});
		}

		function doSearch() {
			let latin = document.getElementById("latin").value;
			latin = latin.trim();
			let english = document.getElementById("english").value;
			english = english.trim();
			let returnVal = "";
			let activeId = document.activeElement.id
			// console.log(activeId)
			if (latin !== "" && activeId === "latin") {
				searchLatin();
				returnVal = "latin";
			} else if (english !== "" && activeId === "english") {
				searchEnglish();
				returnVal = "english";
			}
			return returnVal;
		}

		// You may think this code sucks, but instead codepen sucks, (or actually probably me), but I couldn't figure out how to reselect the text box without doing this:
		function reselect(type) {
			if (type === "latin") {
				document.getElementById("latin").select();
			} else if (type === "english") {
				document.getElementById("english").select();
			}
		}

		document.onkeypress = function (e) {
			e = e || window.event;
			if (e.keyCode === 13) {
				let type = doSearch();
				reselect(type);
			}
		};
	</script>
	<style>
		#container {
			height: 100%;
			position: relative;
		}

		.content {
			border: none;
			width: 100%;
			height: 100%;
		}
	</style>
	<div id="inputStuff">
		<label for="latin">Latin Word:</label>
		<input type="text" id="latin" name="latin">
		<button onclick="searchLatin()">Search</button>
		<br/><br/>
		<label for="english">English Word:</label>
		<input type="text" id="english" name="english">
		<button onclick="searchEnglish()">Search</button>
	</div>
	<div id="contentContainer">

	</div>
{% endblock %}